* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: default;
}
body {
  height: 100%;
  width: 100%;
}
#window {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
#header {
  height: 70px;
  width: 100%;
  background: linear-gradient(#317773, #1f5654);
  color: rgb(228, 228, 228);
  font-size: 30px;
  display: flex;
  justify-content: right;
  padding: 0 20px;
  align-items: center;
  position: absolute;
  top: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
  z-index: 3;
}
#header i {
  cursor: pointer;
}
#header i:hover {
  color: rgb(255, 255, 255);
}

#main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#e2d1f9, white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: rgb(33, 33, 33);
}

.credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 300px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  z-index: 4;
}
.creatorName {
  font-size: 14px;
}

.line {
  height: 20px;
  width: 1px;
  background-color: black;
}
#linkedinLogo {
  font-size: 26px;
  transition: all 0.2s linear;
}
#linkedinLogo:hover {
  color: #0a66c2;
  transform: scale(1.2);
  cursor: pointer;
}

.heading {
  font-family: 'DM Serif Display', serif;
  font-size: 90px;
  font-weight: 600;
  z-index: 1;
}
#playNow {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 67%;
  left: 50%;
  padding: 10px 20px;
  border: none;
  background-color: green;
  color: white;
  /* background-color: green; */
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  z-index: 4;
}

#playNow:hover {
  background-color: rgb(0, 113, 0);
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.453);
}

.mouseTrack {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 19, 0.352);
  border: 1px solid rgba(255, 255, 0, 0.723);
  box-shadow: 0 0 30px rgba(255, 255, 0, 0.848);
  border-radius: 100%;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  display: none;
  z-index: 2;
}

.instructions {
  width: 30%;
  height: 100vh;
  overflow: scroll;
  color: white;
  background: linear-gradient(rgb(0, 0, 10) 20%, rgb(0, 0, 0));
  padding: 30px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: -100%;
  transition: all 0.4s linear;
  z-index: 10;
}
.instructions::-webkit-scrollbar {
  display: none;
}

.instructions p {
  font-size: 12px;
}
.instructions h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(236, 236, 236);
  background: linear-gradient(rgb(0, 42, 52), black);
  border-radius: 10px;
  margin: 0 50px 15px;
}
.instructions h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgb(0, 72, 0);
}
h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: rgb(107, 0, 0);
}

#hidePanel {
  position: absolute;
  margin: 27px 15px;
  left: 0px;
  top: 0;
  font-size: 30px;
  border-radius: 100%;
  padding: 10px;
  transition: all 0.3s linear;
  border: 1px solid rgb(0, 0, 0);
}
#hidePanel:hover {
  border: 1px solid red;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.533);
}

@media only screen and (max-width: 1000px) {
  .instructions {
    width: 50%;
  }
}

/* background design */

.curvePath1 {
  height: 1400px;
  width: 1400px;
  /* background-color: pink; */
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  bottom: 50%;
  border: 2px solid pink;
  transform: translate(0, 100%);
}

.ball1 , .ball2{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.ball1{
  background-color: rgb(238, 82, 82);
  border: 1px solid rgb(236, 17, 17);
  animation: rotateInCircle 10s linear infinite;
}
.ball2{
  background-color: rgb(212, 216, 87);
  border: 1px solid rgb(213, 206, 10);
  animation: rotateInCircle 12s linear infinite;
}

@keyframes rotateInCircle {
  0% {
    transform: translate(-50%, -50%) rotate(-30deg) translateX(700px) rotate(0deg);
  }
  50%{
    transform: translate(-50%, -50%) rotate(-150deg) translateX(700px) rotate(-160deg);
    
  }
  100% {
    transform: translate(-50%, -50%) rotate(-30deg) translateX(700px) rotate(0deg);
  }
}


.curvePath2{
  height: 100px;
  width: 100vw;
  border: 2px solid rgb(213, 213, 15);
  border-top: none;
  position: absolute;
  top: 10vh;
  border-end-end-radius: 100%;
  border-bottom-left-radius: 100%;
}



@media only screen and (max-width: 527px){
  #playNow {
    top: 75%;
  }

  .instructions {
    width: 85%;
  }
}
